/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
.hidden{
    visibility: hidden;
}
.nonedisplay{
    display: none;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learnstatus{
    margin-bottom: 25px;
    font-size:13px;
    font-weight:bold
}
.learnstatus__count {
    margin:0 2px 0 0;
    padding:0 .4em 0 .4em;
    text-align:center
}
#learnstatus__count--unanswered{
    border:2px solid #fad163
}
#learnstatus__count--correct{
    border:2px solid #66cc66
}
#learnstatus__count--incorrect{
    border:2px solid #ff3333
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learncmd{
    margin-bottom: 10px;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learndata{
    margin-bottom: 10px;
    border:1px solid #cecece;
}
#learndata img{
    max-width:100%;
    max-height:100%;
}
#learndata__front{
    min-height:150px;
    position: relative;
    border-bottom: 1px solid #e2edeb;
}
.learndata__front--result{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10px;
    font-size:18px;
    font-weight:bold;
}
#learndata__front--result-correct{
    color: #66cc66;
}
#learndata__front--result-incorrect{
    color: #ff3333;
}
#learndata__back{
    min-height:150px;
}
#learndata__front--data, #learndata__back--data{
    padding: 5px;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learnanswer{
    text-align: center;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#cardlist img{
    max-width:100%;
    max-height:100%;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#cardcreate{
    margin-bottom:30px;
}
#cardcreate__toolbar{
    width: 300px;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#deckchart{
    margin-bottom:20px;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#userchart{
    margin-bottom:20px;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learn{
    margin: auto 0;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/