/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
.hidden{
    visibility: hidden;
}
.nonedisplay{
    display: none;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learnstatus{
    margin-bottom: 25px;
    font-size:13px;
    font-weight:bold
}
.learnstatus__count {
    margin:0 2px 0 0;
    padding:0 .4em 0 .4em;
    text-align:center
}
#learnstatus__count--unanswered{
    border:2px solid #fad163
}
#learnstatus__count--correct{
    border:2px solid #66cc66
}
#learnstatus__count--incorrect{
    border:2px solid #ff3333
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learncmd{
    margin-bottom: 10px;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learndata{
    margin-bottom: 10px;
    border:1px solid #cecece;
}
#learndata__front{
    height:150px;
    position: relative;
    border-bottom: 1px solid #e2edeb;
}
.learndata__front--result{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10px;
    font-size:18px;
    font-weight:bold;
}
#learndata__front--result-correct{
    color: #66cc66;
}
#learndata__front--result-incorrect{
    color: #ff3333;
}
#learndata__back{
    height:150px;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
#learnanswer{
    text-align: center;
}