#learn__status{
    margin-bottom: 25px;
    font-size:13px;
    font-weight:bold
}
#learn__status--count > span{
    margin:0 2px 0 0;
    padding:0 .4em 0 .4em;
    text-align:center
}
#learn__status--unanswered{
    border:2px solid #fad163
}
#learn__status--correct{
    border:2px solid #66cc66
}
#learn__status--incorrect{
    border:2px solid #ff3333
}
#learn__cmd{
    margin-bottom: 10px;
}
#learn__data{
    margin-bottom: 10px;
}
#learn__answer--mark{
    text-align: center;
}
#learn__data{
    border:1px solid #cecece;
}
#learn__data--result{
    text-align:center;
    font-size:18px;
    font-weight:bold;
}
#learn__data--front{
    height:150px;;
}
#learn__data--back{
    height:150px;
    border-top: 1px solid #e2edeb;
}